{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <a href="add_job" class="btn btn-secondary">Добавить работу</a>
    <a href="departments" class="btn btn-secondary">Департаменты</a>
{% endif %}
<h1 align="center">Журнал работ</h1>
{% for item in jobs%}
{% if current_user.is_authenticated and current_user.id in (1, item.team_leader) %}
    <div>
        <a href="/add_job/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/job_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
<h1>Работа {{ item.id }}</h1>
<div class="container">
    <div class="row">
        <div class="col">название работы</div>
        <div class="col">фамилия и имя ответственного</div>
        <div class="col">продолжительность в часах</div>
        <div class="col">список id команды</div>
        <div class="col">завершена или нет</div>
        <div class="w-100"></div>
        <div class="col">{{ item.job }}</div>
        <div class="col">{{ item.team_leader }}</div>
        <div class="col">{{ item.work_size }}</div>
        <div class="col">{{ item.collaborators }}</div>
        <div class="col">{{ item.is_finished }}</div>
    </div>
</div>
{% endfor %}
{% endblock %}